<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="utf-8">
            <meta name="robots" content="noindex">
            <title>Korean Word Bag</title>
            <base href="./">
            <!-- <link rel="stylesheet" href="sanitize.css"> -->
            <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
            <main>
                <h1>Input Korean text below</h1>
                <textarea id="ko-text" name="ko-text" rows="20" cols="50"></textarea>
                <button id="process-button">Process</button>
                <script type="module" src="static/wordbag.js"></script>
                <!-- 탴스트가 여기로 입력하십시오 -->
                <!-- <input type="text" id="ko-text" name="ko-text"> -->
                <article id="output"></article>
            </main>
    </body>
</html>